<ion-content>


  <ion-col *ngIf="spinner">
    <img src="assets/spinner.svg" alt="spinner">
  </ion-col>

  <ion-badge color="light">
    <div *ngIf="error">
      {{error}}
    </div>

    <form *ngIf="!spinner" #loginForm="ngForm" novalidate>
      <ion-list  >

        <ion-item color="none">
          <ion-label position="floating" color="dark">
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="login.email" name="email" type="text" #mail="ngModel" spellcheck="false"
            autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="mail.valid || submitted === false" class="ion-padding-start">
            Por favor, ingrese su Correo Electrónico.
          </p>
        </ion-text>

        <ion-item  color="none">
          <ion-label position="floating" color="dark">
            <ion-icon name="key-outline"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="pass" name="password" type="password" #password="ngModel" minlength=6 required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="!password.errors?.minlength || submitted === false" class="ion-padding-start">
            La contraseña ingresada es muy corta.
          </p>
        </ion-text>
        <ion-text color="danger">
          <p [hidden]="!password.errors?.required || submitted === false" class="ion-padding-start">
            Por favor, ingrese una contraseña.
          </p>
        </ion-text>

      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="onLogin(loginForm)" color="warning" type="submit" expand="block">Acceder</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="onSignup()" color="dark" expand="block">Registrasrse</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="signInWithGoogle()" color="primary" expand="block">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <a> ¿Olvidó la contraseña? </a>
        <a (click)="cancel()"> Cancelar </a>
      </ion-row>

      <ion-row>
        <ion-badge color="primary"  (click)="admin()"> Admin </ion-badge>
        <ion-badge color="success" (click)="invitado()"> Invitado </ion-badge>
        <ion-badge color="dark" (click)="usuario()"> Usuario </ion-badge>
        <ion-badge color="danger" (click)="anonimo()"> Anónimo </ion-badge>
        <ion-badge color="secondary" (click)="tester()"> Tester </ion-badge>
      </ion-row>

    </form>
  </ion-badge>

</ion-content>
